services:
  jaeger:
    image: jaegertracing/all-in-one:1.70.0
    environment:
      - METRICS_STORAGE_TYPE=prometheus
      - PROMETHEUS_SERVER_URL=http://prometheus:9090
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317"   # OTLP gRPC
      - "4318:4318"   # OTLP HTTP
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
      
  ocpp16-server:
    build: .
    command: ["uv", "run", "python", "-m", "ocpp16_min.server"]
    environment:
      - APP_HOST=0.0.0.0
      - APP_PORT=9000
      - OTEL_SERVICE_NAME=ocpp16-server
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
    volumes:
      - .:/app
    ports:
      - "9000:9000"
    depends_on:
      - jaeger
